<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PathCargaDeudasComunicacion" value="C:\CargaDeudasComunicacion\" />
  </appSettings>
  <connectionStrings>
    <add name="ChildDataPINConnectionString" connectionString="Data Source=MOLES\SQLPIN;Initial Catalog=CHILDDATADP;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="BaseEntities" connectionString="metadata=res://*/Model.BaseEntities.csdl|res://*/Model.BaseEntities.ssdl|res://*/Model.BaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOLES\SQLPIN;Initial Catalog=CHILDDATADP;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SegEntities" connectionString="metadata=res://*/Model.SegEntities.csdl|res://*/Model.SegEntities.ssdl|res://*/Model.SegEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOLES\SQLPIN;Initial Catalog=CHILDDATADP;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ComEntities" connectionString="metadata=res://*/Model.ComEntities.csdl|res://*/Model.ComEntities.ssdl|res://*/Model.ComEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOLES\SQLPIN;Initial Catalog=CHILDDATADP;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <enableWebScript />
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="DefaultServiceBehavior" name="ChildDataPIN.Services.BASE.CoordinadorSVC">
        <endpoint behaviorConfiguration="jsonBehavior" address="" binding="webHttpBinding" contract="ChildDataPIN.Services.Contracts.BASE.ICoordinadorSVC" />
      </service>
      <service behaviorConfiguration="DefaultServiceBehavior" name="ChildDataPIN.Services.COM.DeudaComunicacionesSVC">
        <endpoint behaviorConfiguration="jsonBehavior" address="" binding="webHttpBinding" contract="ChildDataPIN.Services.Contracts.COM.IDeudaComunicacionesSVC" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
  </system.webServer>

</configuration>