<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SegEntities" connectionString="metadata=res://*/Model.SegEntities.csdl|res://*/Model.SegEntities.ssdl|res://*/Model.SegEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOLES\SQLPIN;Initial Catalog=CHILDDATADP;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>