<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="BaseEntities" connectionString="metadata=res://*/Model.BaseEntities.csdl|res://*/Model.BaseEntities.ssdl|res://*/Model.BaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOLES\SQLPIN;Initial Catalog=CHILDDATADP;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>